body{
  margin: 0px;
}


.histogram {
  height          : 100px;
  background-color: rgba(66, 134, 244, 0.8);
  float:left;
  /*border: 1px solid white;*/
}
.histogram:nth-child(even){
  background-color: rgba(66, 134, 244, 0.7);
}
.selectedHistogram{
  background-color:rgba(255, 140, 105, 1.0) !important;
}
.histogramContainer{
  height: 30%;
}
.histogramCount{
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: 40px;
  font-size: 1vw;
}
